

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}


.planet{
  height: 100vh;
  width:100vh;
  position: absolute;
  z-index: 3;
  right: -200px;
  top:350;
  animation:rotation 25s infinite;
  opacity: 0.9;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

h1 {
  font-size: 7vw;
  text-align:left;
  color:white;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Kirang Haerang', cursive;
	letter-spacing: 2px;
}

/*risd poster*/
a.ex1:link{
	  font-size: 1vw;
  text-align:left;
  color:#526893;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	left: 270px;
  top:283px;
    animation: tsize 1s infinite;
    text-decoration: none;
}

a.ex1:hover{
	color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

a.ex1:visited{
	 color: #add8e6;
}

/*interact site*/
a.ex2:link{
	  font-size: 1vw;
  text-align:left;
  color:#526893;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
 left: 378px;
  top:422px;
    animation: tsize 1s infinite;
    text-decoration: none;
}

a.ex2:hover{
	color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

a.ex2:visited{
	 color: #add8e6;
}

/*css typeface*/

a.ex3:link{
	   font-size: 1vw;
  text-align:left;
  color:#526893;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
left: 670px;
  top:320px;
  animation: tsize 1s infinite;
    text-decoration: none;
}

a.ex3:hover{
	color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

a.ex3:visited{
	 color: #add8e6;
}

a.ex4:link{
	   font-size: 1vw;
  text-align:left;
  color:#526893;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
left: 850px;
  top:520px;
  animation: tsize 1s infinite;
    text-decoration: none;
}

a.ex4:hover{
	color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

a.ex4:visited{
	 color: #add8e6;
}

a.ex5:link{
	   font-size: 1vw;
  text-align:left;
  color:#526893;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
left: 590px;
  top:560px;
  animation: tsize 1s infinite;
    text-decoration: none;
}

a.ex5:hover{
	color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

a.ex5:visited{
	 color: #add8e6;
}

.dot1 {
  height: .5vw;
  width: .5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 398px;
  top:402px;
  animation: size 1s infinite;
/*  opacity: 0.6;*/
}
@keyframes shadow{
  50% {box-shadow: 2px 2px 10px orange, 2px 2px 10px yellow, 2px 2px 10px #fed992;}
}

@keyframes size{
 50% {transform: scale(0.5);}
}

@keyframes tsize{
 50% {transform: scale(1.1);}
}

/*.p1:hover{
color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}
*/
.dot2 {
  height: .5vw;
  width: .5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 700px;
  top:350px;
  animation: size 1s infinite;
}
.p2:hover{
color: #add8e6;
	text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

.dot3 {
  height: .5vw;
  width: .5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 850px;
  top:500px;
  animation: size 1s infinite;
}

.dot4 {
  height: .5vw;
  width: .5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 300px;
  top:300px;
  animation: size 1s infinite;
}

.dot5 {
  height: .5vw;
  width: .5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 600px;
  top:550px;
  animation: size 1s infinite;
}
.p3:hover{
color: #add8e6;
text-shadow: 2px 2px 8px #add8e6;
	  transform: scale(1.5);
}

.line1{
	position: absolute;
	height: 305px;
	transform: rotate(80deg);
	left: 550px;
  top:228px;
  border-left: 1px solid white;
  animation: shadow 1s infinite;

}

.line2{
	position: absolute;
	height: 215px;
	transform: rotate(-45deg);
	left: 780px;
  top:320px;
  border-left: 1px solid white;
  animation: shadow 1s infinite;


}


.line4{
	position: absolute;
	height: 142px;
	transform: rotate(-43deg);
	left: 350px;
  top:283px;
  border-left: 1px solid white;
  animation: shadow 1s infinite;


}

.line3{
	position: absolute;
	height: 255px;
	transform: rotate(78deg);
	left: 728px;
  top:401px;
  border-left: 1px solid white;
  animation: shadow 1s infinite;


}

